.THSortButton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  background: transparent;
  color: inherit;
}

.Table tbody tr:nth-child(even) td, .table tbody tr:nth-child(even) th {
  background-color: var(--c-outset);
}
.Table tbody tr:nth-child(odd) td, .table tbody tr:nth-child(odd) th {
  background-color: var(--c-background);
}
