.grid {
  display: grid;
  gap: 1rem;
}

.columns1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.columns2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.columns3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.columns4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
