/* CSS & proper download via google-webfonts-helper <3 */

/* @font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('/fonts/roboto-v29-latin-300.woff2') format('woff2'),
       url('/fonts/roboto-v29-latin-300.woff') format('woff');
} */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/fonts/roboto-v29-latin-regular.woff2') format('woff2'),
       url('/fonts/roboto-v29-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('/fonts/roboto-v29-latin-700.woff2') format('woff2'),
       url('/fonts/roboto-v29-latin-700.woff') format('woff');
}


@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/fonts/ubuntu-mono-v14-latin-regular.woff2') format('woff2'),
       url('/fonts/ubuntu-mono-v14-latin-regular.woff') format('woff');
}

/* @font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('/fonts/ubuntu-mono-v14-latin-700.woff2') format('woff2'),
       url('/fonts/ubuntu-mono-v14-latin-700.woff') format('woff');
} */
