:root {
  /* Colors */
  --c-pink: #B48EAD;

  --c-background: #242933;
  --c-slant: #292E39;
  --c-danger: #EB9093;
  --c-inset: #2e3440;
  --c-foreground: #fff;
  --c-muted: #88c0d0;
  --c-primary: #0EA5E9;
  --c-outset: #383f4d;
  --c-solana-green: #14F195;
  --c-solana-purple: #9945FF;
  --c-success: #a3be8c;

  --c-link: var(--c-primary);

  /* Breakpoints */
  --bp-xs: 0;
  --bp-sm: 576px;
  --bp-md: 768px;
  --bp-lg: 992px;
  --bp-xl: 1200px;

  /* Spacing */
  --space-xs: .25rem;
  --space-sm: .5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;

  --radius-sm: .5rem;
  --radius-md: 1rem;

  /* Container */
  --max-w-container-sm: 540px;
  --max-w-container-md: 720px;
  --max-w-container-lg: 960px;
  --max-w-container-xl: 1140px;

  /* Text */
  --font-size-sm: 0.875rem;
  --line-height-sm: 1.25rem;

  --font-size-md: 1.125rem;
  --line-height-md: 1.625rem;

  --font-size-xl: 2rem;
  --line-height-xl: 2.85rem;
}

body {
  background-color: var(--c-background);
  color: var(--c-foreground);
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
}

a {
  color: var(--c-link);
}

code, kbd, pre, samp, tt {
  font-family: 'Ubuntu Mono', monospace;
}

th {
  font-weight: normal;
  text-align: left;
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.relative { position: relative; }
.sticky { position: sticky; }
@media (min-width: 768px) {
  .md\:sticky { position: sticky; }
}

.d-block { display: block; }
.d-flex { display: flex; }
.d-inline { display: inline; }
.d-inline-block { display: inline-block; }

@media (min-width: 576px) {
  .sm\:d-block { display: block !important; }
}

@media (min-width: 768px) {
  .md\:d-flex { display: flex !important; }
}

.overflow-hidden { overflow: hidden; }
.overflow-scroll { overflow: scroll; }
.overflow-x-auto { overflow-x: auto; }
.overflow-y-hidden { overflow-y: hidden; }

.z-10 { z-index: 10; }

.top-0 { top: 0; }
.left-0 { left: 0; }
@media (min-width: 768px) {
  .md\:left-0 { left: 0; }
}

.w-auto { width: auto; }
.w-full { width: 100%; }
.w-1\/3 { width: calc(100% / 3); }
.w-2\/3 { width: calc(200% / 3); }
.w-1\/2 { width: 50%; }
.w-1\/1 { width: 100%; }

.max-w-full { max-width: 100%; }

@media (min-width: 576px) {
  .sm\:w-1\/2 { width: 50%; }
}

@media (min-width: 768px) {
  .md\:w-1\/2 { width: 50%; }
}

@media (min-width: 992px) {
  .lg\:w-auto { width: auto; }
  .lg\:w-1\/3 { width: calc(100%/3); }
  .lg\:w-2\/3 { width: calc(200%/3); }
  .lg\:w-1\/1 { width: 100%; }
}

.m-0 { margin: 0; }
.m-md { margin: var(--space-md); }
.mx-md { margin-left: var(--space-md); margin-right: var(--space-md); }
.my-md { margin-top: var(--space-md); margin-bottom: var(--space-md); }
.mt-sm { margin-top: var(--space-sm); }
.mt-md { margin-top: var(--space-md); }
.mb-md { margin-bottom: var(--space-md); }
.mb-xl { margin-bottom: var(--space-xl); }
.ml-sm { margin-left: var(--space-sm); }
.ml-md { margin-left: var(--space-md); }
.mr-xs { margin-right: var(--space-xs); }
.mr-sm { margin-right: var(--space-sm); }
.mr-md { margin-right: var(--space-md); }

@media (min-width: 576px) {
  .sm\:mb-0 { margin-bottom: 0; }
}

@media (min-width: 768px) {
  .md\:mt-0 { margin-top: 0; }
}

@media (min-width: 992px) {
  .lg\:mt-0 { margin-top: 0; }
  .lg\:mb-0 { margin-bottom: 0; }
  .lg\:mb-md { margin-bottom: var(--space-md); }
  .lg\:mr-md { margin-right: var(--space-md); }
}

.p-0 { padding: 0; }
.p-1px { padding: 1px; }

.p-xs { padding: var(--space-xs); }
.py-xs { padding-top: var(--space-xs); padding-bottom: var(--space-xs); }
.pb-xs { padding-bottom: var(--space-xs); }

.p-sm { padding: var(--space-sm); }
.px-sm { padding-left: var(--space-sm); padding-right: var(--space-sm); }
.py-sm { padding-top: var(--space-sm); padding-bottom: var(--space-sm); }

.p-md { padding: var(--space-md); }
.pt-md { padding-top: var(--space-md); }
.pb-md { padding-bottom: var(--space-md); }
.pr-md { padding-right: var(--space-md); }

.py-lg { padding-top: var(--space-lg); padding-bottom: var(--space-lg); }

@media (min-width: 576px) {
  .sm\:pt-0 { padding-top: 0; }
}

@media (min-width: 992px) {
  .lg\:pt-0 { padding-top: 0; }
  .lg\:pb-md { padding-bottom: var(--space-md); }
  .lg\:pr-md { padding-right: var(--space-md); }
}

.border-collapse { border-collapse: collapse; }
.border-solid { border-style: solid; }
.border-0 { border-width: 0; }
.border-1 { border-width: 1px; }
.border-2 { border-width: 2px; }
.border-t { border-top-width: 1px; }
.border-b { border-bottom-width: 1px; }
.border-b-2 { border-bottom-width: 2px; }
.border-r { border-right-width: 1px; }
.border-background { border-color: var(--c-background); }
.border-inset { border-color: var(--c-inset); }
.focus\:border-muted:focus { border-color: var(--c-muted);}
.border-image-solana { border-image: linear-gradient(to right, var(--c-solana-purple), var(--c-solana-green), var(--c-solana-purple)) 1; }
.border-transparent { border-color: transparent; }

@media (min-width: 576px) {
  .sm\:border-t-0 { border-top-width: 0; }
  .sm\:border-r { border-right-width: 1px; }
}

@media (min-width: 992px) {
  .lg\:border-t-0 { border-top-width: 0; }
  .lg\:border-b { border-bottom-width: 1px; }
  .lg\:border-r { border-right-width: 1px; }
}

.opacity-50 { opacity: 0.5; }
.opacity-100 { opacity: 1; }
.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.rounded { border-radius: 32767px; }
.rounded-sm { border-radius: var(--radius-sm); }
.rounded-md { border-radius: var(--radius-md); }
.rounded-tl-md { border-top-left-radius: var(--radius-md); }
.rounded-tr-md { border-top-right-radius: var(--radius-md); }
.rounded-bl-md { border-bottom-left-radius: var(--radius-md); }

.flex-col { flex-direction: column; }
.flex-row { flex-direction: row; }
.flex-wrap { flex-wrap: wrap; }
.flex-nowrap { flex-wrap: nowrap; }
.grow { flex-grow: 1; }
.items-center { align-items: center; }
.justify-between { justify-content: space-between; }
.justify-center { justify-content: center; }
.justify-evenly { justify-content: space-evenly; }
.justify-start { justify-content: flex-start; }

@media (min-width: 768px) {
  .md\:justify-center { justify-content: center; }
  .md\:justify-evenly { justify-content: space-evenly; }
  .md\:justify-start { justify-content: flex-start; }
  .md\:flex-row { flex-direction: row; }
}

.list-none { list-style-type: none; }

.bg-background { background-color: var(--c-background); }
.bg-foreground { background-color: var(--c-foreground); }
.bg-inset { background-color: var(--c-inset); }
.hover\:bg-inset:hover { background-color: var(--c-inset); }
.odd\:bg-inset:nth-child(2n+1) { background-color: var(--c-background); }
.bg-outset { background-color: var(--c-outset); }
.bg-slant { background-color: var(--c-slant); }

.font-mono { font-family: 'Ubuntu Mono', monospace; }
.font-normal { font-weight: normal; }
.font-bold { font-weight: 700; }

.no-underline { text-decoration: none; }
.not-italic { font-style: normal; }

.text-inherit { color: inherit }
.text-background { color: var(--c-background) }
.text-foreground { color: var(--c-foreground) }
.text-pink { color: var(--c-pink) }
.text-danger { color: var(--c-danger) }
.text-inset { color: var(--c-inset) }
.text-muted { color: var(--c-muted) }
.placeholder\:text-muted::placeholder { color: var(--c-muted); }
.text-success { color: var(--c-success) }

.text-sm { font-size: var(--font-size-sm); line-height: var(--line-height-sm); }
.text-md { font-size: var(--font-size-md); line-height: var(--line-height-md); }
.text-xl { font-size: var(--font-size-xl); line-height: var(--line-height-xl); }

@media (min-width: 768px) {
  .md\:text-md { font-size: var(--font-size-md); line-height: var(--line-height-md); }
}

.text-center { text-align: center; }
.text-right { text-align: right; }

@media (min-width: 576px) {
  .sm\:text-center { text-align: center; }
}

.text-ellipsis { text-overflow: ellipsis; }

.whitespace-nowrap { white-space: nowrap; }

.leading-none { line-height: 1; }

/**/

.VisuallyHidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/**/

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.FadeIn {
  animation-duration: 500ms;
  animation-fill-mode: both;
  animation-name: fadeIn;
}
